{% load static %}

<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>Espaços - Meu Condomínio</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="{% static 'meu_condominio/side-menu.css' %}">

</head>

<body>

<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu">
      <a class="pure-menu-heading" href="../home">Meu Condomínio</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="../financas" class="pure-menu-link">Finanças</a>
        </li>
        <li class="pure-menu-item">
          <a href="../espacos" class="pure-menu-link">Espaços</a>
        </li>
        {% if user.is_superuser %}
        <li class="pure-menu-item">
          <a href="../funcionarios" class="pure-menu-link">Funcionários</a>
        </li>
        <li class="pure-menu-item">
          <a href="../moradores" class="pure-menu-link">Moradores</a>
        </li>
        {% endif %}
        <li class="pure-menu-item">
          <a href="{% url 'mc-logout' %}" class="pure-menu-link">Sair</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="main">
    <div class="header">
      <h1>Espaços</h1>
      <h2>Em construção - fim previsto na iteração 4<h2>
    </div>

    <!-- commented for now
    <div class="content">
      <h2 class="content-subhead">Lorem ipsum dolor sit amet</h2>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    -->
  </div>
</div>

<script src="{% static 'meu_condominio/ui.js' %}"></script>

</body>
</html>
